<h1>About</h1>
<h2>So what is Shooters Golf?</h2>
	<p>Our software will help analyze your golf swing in minutes. You'll be able to see your strengths weaknesses and areas for possible improvement.</p>
<h2>How long have we been around?</h2>
	<p>We've been revolutionizing golf analytic software for 5 years now</p>
<h2>
