<h1>Welcome to Shooter Golf</h1>
<div class="container-fluid">
	<div class="col-md-12 col-lg-12">
	<%= image_tag("golf.jpg", class: "img-responsive")%>
	</div>
</div>
<h2>Improving your game one swing at a time</h2>

