<div class="col-md-6 col-md-offset-3">
  <h2>Featured Products</h2>
</div>
<br>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators" style="padding-left: 485px;">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        
        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <% @products.each do |product| %>
            <div class="item<%= " active" if product == @products.first %>">
                <!-- Set the first background image using inline CSS below. -->
                <%= image_tag(product.image_url, class: "image carousel", style: "width: 600px;" "height: 600px;") %>
                <div class="carousel-caption">
                    <h3><%= product.name %></h3>
                    
                </div>
            </div>
           <% end %>
         </div>
       

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
   			<span class="sr-only">Previous</span>
  		</a>
  		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    		<span class="sr-only">Next</span>
  		</a>
</div>