<div ng-controller="OrdersCtrl">

	<form class="form-inline" ng-submit="addOrder()">
		<strong>Add Order: </strong>

		<select ng-model="newOrder.product_id" class="form-control">
			<option value="" disabled selected>Select a product</option>
			<option value="{{ product.id }}" ng-repeat="product in products">{{ product.name }}</option>
		</select>
		
		<input type="number" step="0.01" class="form-control" placeholder="Total" ng-model="newOrder.total">
		<input type="number" class="form-control" ng-model="newOrder.product_id">

		<input type="submit" value="+" class="btn btn-success">
	</form>
	
	<h2>Orders</h2>

	<input type="text" placeholder="Your Name" ng-model="name" >

	<table class="table table-hover">
		<thead>
			<td>Order ID</td>
			<td>Total</td>
			<td>Product</td>
			<td></td>
		</thead>

		<tr ng-repeat="order in orders | orderBy:'-id':reverse">
			<td>
				{{ order.id }}
			</td>
			<td>
				<strong>{{ order.total | currency }}</strong>
			</td>
			<td>
				{{ order.product.name }}
				<small ng-show="order.user_id"><br>Ordered by: {{ order.user.email }}</small>
			</td>
			<td>
	      {{order.created_at}}
      </td>
			<td>
				<button ng-click="deleteOrder(order)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
			</td>
		</tr>
	</table>

</div>